<ul>
  <li>
    <a routerLinkActive="active-link"
       routerLink="scan">
      Scan QR
    </a>
  </li>
  
  <li>
    <a routerLinkActive="active-link"
       routerLink="edit">
      Edit Inventar
    </a>
  </li>

  <li>
    <a routerLinkActive="active-link"
       routerLink="search">
      Search
    </a>
  </li>

  <li>
    <a routerLinkActive="active-link"
       routerLink="ocr">
      OCR
    </a>
  </li>
  <li>
    <a routerLinkActive="active-link"
       routerLink="qrgen">
      QR Gen.
    </a>
  </li>



</ul>
<br>
<router-outlet></router-outlet>
